
MODEL_NAME=gemini-1.5-flash

GOOGLE_API_KEY=AIzaSyASP-AH-O_ogwF-NZOpCGUrQ8bQsABwiwM
EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
TOP_K=3
MAX_INPUT_LENGTH=512
BACKEND_URL=http://localhost:8000